/* CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  --dark-blue: hsl(209, 23%, 22%); /* Dark Mode Elements */
  --very-dark-blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --very-darkBlue-lightmode: hsl(200, 15%, 8%); /* Light Mode Text */
  --dark-gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --white: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/
}

/* CS STYLE STARTS HERE */
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--very-light-gray);
}

header {
  background-color: var(--white);
  padding: 1.75rem 1.125rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
}

main {
  flex: 1;
  margin: 1.5rem 1.5rem 0 1.5rem;
}

.country {
  display: flex;
  flex-direction: column;
  margin: 0 2.5rem 2rem 2.5rem;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}

.country span,
.country__detail span {
  font-weight: 700;
}

.country__img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 100%;
}

.country__data {
  margin: 1.875rem 1.5rem;
  line-height: 180%;
}

.country__name {
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 0.75rem;
}

.country__detail {
  display: flex;
  flex-direction: column;
}

.country__detail .country__img {
  border-radius: 0;
}

.country__detail .country__data {
  margin-left: 0;
}

.country__neighbors {
  margin: 50px 0 16px 0;
  display: flex;
  flex-direction: column;
}
.country__neighbors h3 {
  margin-bottom: 12px;
}

.neighbors__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.country__neighbor {
  background-color: var(--white);
  padding: 4px 16px;
  margin-right: 5px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px;
  cursor: pointer;
}

/* Searchbar */
.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom: 50px;
  padding: 8px 0;
  border-radius: 6px;
}
.search__input {
  position: relative;
  border: none;
  height: 54px;
}

input[type='search'] {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--white);
}

.search__input::placeholder {
  color: rgb(190, 188, 188);
  font-size: 1rem;
}

.search__input::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>'); /* Inline SVG */
  background-repeat: no-repeat;
  background-size: cover;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: rgb(179, 176, 176);
  margin: 0 6px 0 6px;
  font-size: 1.875rem;
}

.search-icon {
  fill: currentColor;
  color: rgb(179, 176, 176);
  margin: 0 6px 0 6px;
  width: 25px;
  height: 25px;
}
/* Filter Dropdown */
.filter__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 16px 0;
  padding-left: 24px;
  padding-right: 16px;
  min-width: 240px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 6px;
}

.filter__btn:hover,
.filter__btn:focus {
  /* background-color: #9729b9; */
}

.back__btn {
  border: none;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px;
  padding: 3px;
  border-radius: 2px;
  min-width: 100px;
  display: flex; /* Use inline-flex to align items horizontally */
  align-items: center; /* Center items vertically */
  cursor: pointer;
}

.back__btn svg {
  height: 14px;
  display: inline-block;
  margin-right: 2px;
  padding-top: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 26px;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 240px;
  padding: 16px 0;
  overflow: auto;
  z-index: 1;
  font-weight: 600;
  line-height: 2.2;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px;
}

.dropdown__content a {
  color: black;
  padding: 0 24px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.chevron-down {
  display: inline;
  width: 24px;
  height: 24px;
}
/* end of filter by region*/

.hide {
  display: none;
}

.show {
  display: block;
}

/* This is needed because the layout is not stable - come back to it later*/
.show__me {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-size: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-top: auto;
}

/* MEDIA QUERIES */
/* Styles for small tablets and large smartphones */
@media only screen and (min-width: 600px) {
  /* Styles for screens 600px and wider */

  /* body {
    padding: 1.5rem 2.753rem 0 2.75rem;
  } */

  main {
    margin-right: 0;
    margin-left: 0;
    padding: 1.5rem 2.753rem 0 2.75rem;
  }

  header {
    padding: 1.5rem 2.75rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    margin-bottom: 80px;
  }

  .country {
    flex: 0 1 45%;
    /* margin: 0 2.5rem 2rem 2.5rem; */
    margin: 0;
  }

  .search__optionsBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .search__container {
    padding: 0 8px;
    margin-bottom: 0;
  }

  input[type='search'] {
    width: 180px;
    cursor: pointer;
  }

  .material-symbols-outlined {
    margin: 0 6px 0 14px;
  }

  .dropdown {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }

  .filter__btn {
    margin: 0;
  }

  .dropdown__content {
    top: 65px;
    min-width: 200px;
  }

  .img__container {
    height: 170px;
  }
}

/* Styles for tablets and small laptops */
@media only screen and (min-width: 768px) {
  /* Styles for screens 768px and wider */
  .country {
    flex: 0 1 30%;
  }

  .filter__btn {
    min-width: 160px;
  }

  input[type='search'] {
    width: fit-content;
  }

  .country__detail {
    flex-direction: row;
    gap: 46px;
  }

  .detail__imgContainer {
    display: flex;
    flex: 0 0 300px;
    height: 200px;
  }

  .country__detail .country__data {
    margin: 20px 0 0 0;
  }

  .col__wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .country__neighbors {
    margin: 50px 0 16px 0;
    display: flex;
  }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1024px) {
  /* Styles for screens 1024px and wider */
  .search__container {
    justify-content: start;
    width: fit-content;
  }

  .detail__imgContainer {
    flex: 0 0 350px;
    height: 250px;
  }

  .country__detail {
    gap: 86px;
  }

  .col__wrapper {
    gap: 50px;
  }

  .country__neighbors {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .country__neighbors h3 {
    margin: 0;
  }
}

/* Styles for large desktops and high-resolution screens */
@media only screen and (min-width: 1280px) {
  /* Styles for screens 1280px and wider */

  .container {
    column-gap: 10px;
  }

  .country {
    flex: 0 1 22%;
  }

  .detail__imgContainer {
    flex: 0 0 400px;
    height: 300px;
  }

  .neighbors__container {
    margin-left: 30px;
  }
}

/* Styles for extra large screens */
@media only screen and (min-width: 1440px) {
  /* Styles for screens 1440px and wider */
  .container {
    row-gap: 100px;
  }

  .search__container {
    width: 30%;
  }

  .detail__imgContainer {
    flex: 0 0 600px;
  }

  .country__detail {
    gap: 120px;
  }

  .col__wrapper {
    gap: 80px;
  }

  .country__neighbors {
    gap: 0;
  }

  .img__container {
    height: 200px;
  }
}

@media only screen and (min-width: 2000px) {
  .country {
    flex: 0 1 18%;
  }

  .container {
    column-gap: 60px;
  }
}

footer .footer__link {
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 0 18px;
}
